Repository ovh/cds, pull requests merged in 2019-04, with the labels that each got.

#4084 feat(worker): provisioned worker should not take when memory requirements
  docs/content/docs/concepts/requirement/_index.md
  docs/content/docs/concepts/requirement/requirement_memory.md
  engine/hatchery/kubernetes/kubernetes.go
  engine/hatchery/marathon/marathon.go
  engine/hatchery/swarm/swarm.go
  engine/worker/cmd_run.go
  engine/worker/requirement.go
Labels: ready-to-merge

#4117 fix(sdk): do not export default payload in as-code
  sdk/exportentities/workflow.go
  sdk/exportentities/workflow_tar.go
Labels: ready-to-merge

#4097 fix(api): edit as code worker model with a non-admin user
  .gitignore
  engine/api/api_routes.go
  engine/api/worker/model.go
  engine/api/worker/model_export.go
  engine/api/worker/model_import.go
  engine/api/worker_model.go
  engine/api/worker_model_export.go
  sdk/exportentities/worker_model.go
Labels: ready-to-merge

#4069 fix(api): clean builtin artifact actions
  engine/api/action/builtin.go
  engine/api/api.go
  engine/api/bootstrap/bootstrap.go
  engine/api/migrate/pipeline.go
  sdk/exportentities/action.go
Labels: api, bug, ready-to-merge

#4137 fix(cdsctl): debug filters and fields options for list result
  cli/cobra.go
  tests/clictl_common_options.yml
  tests/fixtures/options/.gitignore
  tests/fixtures/options/application_list.txt
  tests/fixtures/options/application_list_combined.txt
  tests/fixtures/options/application_list_combined_quiet.txt
  tests/fixtures/options/application_list_fields.txt
  tests/fixtures/options/application_list_filter.txt
  tests/fixtures/options/application_list_quiet.txt
Labels: ready-to-merge

#4140 fix(api): add git hash short param on manual run
  engine/api/workflow/process.go
  engine/api/workflow/run_workflow.go
  engine/hooks/poller.go
  engine/hooks/webhook.go
  engine/worker/builtin_gitclone.go
Labels: ready-to-merge

#4145 fix(api): keep the ordering DESC of id to purge
  engine/api/workflow/dao_run.go
  engine/api/workflow/dao_run_test.go
Labels: ready-to-merge

#4148 fix(api): return hooks info on workflow put
  engine/api/workflow.go
  engine/api/workflow/dao_hook.go
  ui/src/app/shared/workflow/modal/hook-modal/hook.modal.html
Labels: ready-to-merge

#4162 fix(api): triggered variables sent to children
  engine/api/workflow/process_parameters.go
Labels: ready-to-merge

#4161 refactor(api): replace nowait by skip locked
  engine/api/application/dao.go
  engine/api/environment/environment.go
  engine/api/environment_import.go
  engine/api/migrate/gitclone_key_migration.go
  engine/api/migrate/migrate_action.go
  engine/api/migrate/workflow_run_old_model.go
  engine/api/project/dao.go
  engine/api/project/dao_dependencies.go
  engine/api/services/external.go
  engine/api/worker/model.go
  engine/api/workflow/dao.go
  engine/api/workflow/dao_node_run.go
  engine/api/workflow/dao_node_run_job.go
  engine/api/workflow/dao_run.go
  engine/api/workflow/execute_node_job_run.go
  engine/api/workflow_queue.go
  sdk/cdsclient/client_queue.go
Labels: ready-to-merge

#4147 fix(api,hooks): rename workflow as-code
  cli/cdsctl/user.go
  cli/cobra.go
  cli/types.go
  engine/api/workflow/dao.go
  engine/api/workflow/dao_node.go
  engine/api/workflow/repository.go
  engine/api/workflow/workflow_importer.go
  engine/api/workflow/workflow_importer_test.go
  engine/api/workflow/workflow_parser.go
  engine/api/workflow/workflow_parser_test.go
  engine/api/workflow_import.go
  engine/api/workflow_run.go
  engine/hooks/hooks_handlers.go
  sdk/project.go
  tests/clictl_group.yml
Labels: ascode, ready-to-merge

#4168 fix(vcs): Gitlab oauth Application callback URL
  engine/vcs/types.go
  engine/vcs/vcs.go
Labels: bug, ready-to-merge, vcs

#4167 feat(cli): project command improvements
  cli/cdsctl/project.go
  cli/cobra.go
  cli/display.go
  engine/api/application/dao.go
  engine/api/pipeline/pipeline.go
  engine/api/project.go
  engine/api/project/dao_dependencies.go
  engine/api/workflow/dao.go
  sdk/common.go
  sdk/project.go
Labels: cli, feature, ready-to-merge, ux

#4172 fix(ui): clear workflow cache when needed and don't fetch commits when no num
  ui/src/app/shared/workflow/node/run/node.run.param.component.ts
  ui/src/app/store/applications.state.ts
Labels: ascode, ready-to-merge, ui

#4173 fix(api,ui,repositories): as-code migration
  engine/api/workflow/as_code.go
  engine/api/workflow_ascode.go
  engine/api/workflow_run.go
  engine/repositories/processor_common.go
  ui/src/app/app.service.ts
Labels: api, ascode, bug, ready-to-merge, ui, ux

#4174 fix(api): do not export application, pipeline and environment coming from another repository
  engine/api/workflow/workflow_exporter.go
Labels: api, ascode, bug, ready-to-merge

#4163 fix(ui,api): let users add/edit/delete workflow icon when as code
  engine/api/api_routes.go
  engine/api/workflow.go
  engine/api/workflow/dao.go
  ui/src/app/store/workflows.action.ts
  ui/src/app/store/workflows.state.spec.ts
  ui/src/app/store/workflows.state.ts
  ui/src/app/views/navbar/navbar.component.ts
  ui/src/app/views/workflow/show/admin/workflow.admin.component.html
  ui/src/app/views/workflow/show/admin/workflow.admin.component.ts
  ui/src/app/views/workflow/show/admin/workflow.admin.scss
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fr.json
Labels: api, ascode, ready-to-merge, ui

#4180 fix(ui): delete broken link in as code modal #4179
  ui/src/app/views/application/show/application.html
  ui/src/app/views/pipeline/show/pipeline.show.html
Labels: ascode, ready-to-merge, ui

#4171 fix(ui): change date format + refactor to datatable
  ui/src/app/model/pipeline.model.ts
  ui/src/app/model/workflow.run.model.ts
  ui/src/app/shared/audit/list/audit.list.component.ts
  ui/src/app/shared/audit/list/audit.list.html
  ui/src/app/shared/keys/list/keys.list.html
  ui/src/app/shared/permission/environment/form/permission.env.form.component.ts
  ui/src/app/shared/permission/environment/form/permission.env.form.html
  ui/src/app/shared/permission/environment/form/permission.env.form.scss
  ui/src/app/shared/shared.module.ts
  ui/src/app/shared/table/data-table.component.ts
  ui/src/app/shared/variable/audit/variable.audit.html
  ui/src/app/shared/workflow/sidebar/run-list/workflow.sidebar.run.component.html
  ui/src/app/shared/workflow/sidebar/run-node/workflow.sidebar.run.node.component.html
  ui/src/app/store/pipelines.state.spec.ts
  ui/src/app/store/workflows.state.ts
  ui/src/app/views/application/show/keys/application.keys.html
  ui/src/app/views/pipeline/show/audit/pipeline.audit.component.ts
  ui/src/app/views/pipeline/show/audit/pipeline.audit.html
  ui/src/app/views/workflow/run/node/history/history.component.ts
  ui/src/app/views/workflow/run/node/history/history.html
  ui/src/app/views/workflow/run/node/summary/run.summary.html
  ui/src/app/views/workflow/run/summary/workflow.run.summary.html
  ui/src/app/views/workflow/show/workflow.html
  ui/src/assets/i18n/en.json
  ui/src/assets/i18n/fr.json
Labels: ui

#4193 fix(api): workflow pull renders empty pipelines
  engine/api/workflow/workflow_exporter.go
Labels: api, ascode, bug

#4194 fix(api): import workflow with conditionnal join
  engine/api/workflow_import_test.go
  sdk/exportentities/workflow.go
Labels: api, ascode, bug

#4205 doc(README): fix some links
  README.md
Labels: doc

#4204 fix(cdsctl): LDFLAGS in makefile
  cli/cdsctl/Makefile
Labels: cli, packaging&distribution

#4206 chore: helm 0.39.0 version
  contrib/helm/cds/Chart.yaml
  contrib/helm/cds/values.yaml
Labels: packaging&distribution

#4197 fix(api): do not use nil value to create error
  engine/api/application_variable.go
Labels: api, bug

#4192 fix(cdsctl): clear cache of repomanager when workflow init (#4127)
  cli/cdsctl/template_apply.go
  cli/cdsctl/template_bulk.go
  cli/cdsctl/workflow_as_code.go
  sdk/cdsclient/client_repositories_manager.go
  sdk/cdsclient/interface.go
Labels: ascode, bug, cli

#4199 feat(cdsctl): sort hatchery workers count by status for termui
  cli/cdsctl/monitoring.go
Labels: cli, feature

#4215 fix(api): check if an application is available on the root node of a workflow as code
  engine/api/workflow/dao.go
  sdk/error.go
Labels: api, ascode, bug

#4216 fix(api): reset application RepositoryStrategy against ConnectionType
  engine/api/application/application_importer.go
  engine/api/workflow/as_code.go
  engine/api/workflow/repository.go
  engine/repositories/processor_push.go
  sdk/exportentities/application.go
Labels: api, ascode, bug

#4185 feat(cli): workflow init improvements
  cli/cdsctl/workflow_as_code.go
  cli/cdsctl/workflow_init.go
  cli/cdsctl/workflow_pull.go
  engine/api/api_routes.go
  engine/api/application/application_parser.go
  engine/api/environment/environment_parser.go
  engine/api/pipeline/pipeline_importer.go
  engine/api/project/key.go
  engine/api/repositoriesmanager/repositories_manager.go
  engine/api/services/http.go
  engine/api/workflow/dao.go
  engine/api/workflow/hook.go
  engine/api/workflow/repository.go
  engine/api/workflow/workflow_parser.go
  engine/api/workflow_import.go
  engine/vcs/github/client_hook.go
  engine/vcs/github/types.go
  go.mod
  go.sum
  sdk/cdsclient/client_repositories_manager.go
  sdk/error.go
  vendor/github.com/whilp/git-urls/urls.go
  vendor/modules.txt
Labels: api, ascode, cli, refactor, ux

#4223 fix(vcs): grant bitbucket user before creating pr
  engine/api/ascode.go
  engine/api/repositoriesmanager/repositories_manager.go
  engine/api/workflow/as_code.go
  engine/vcs/bitbucket/client_pull_request.go
  engine/vcs/bitbucket/client_repos.go
  engine/vcs/bitbucket/client_repos_test.go
  engine/vcs/bitbucket/http.go
  engine/vcs/bitbucket/oauth_consumer_sign.go
  engine/vcs/gerrit/client_repos.go
  engine/vcs/github/client_repos.go
  engine/vcs/gitlab/client_repos.go
  engine/vcs/vcs_handlers.go
  sdk/vcs.go
Labels: ascode, bug, vcs

#4217 fix(hatchery): traces & retries
  sdk/cdsclient/client_queue.go
  sdk/cdsclient/http.go
  sdk/hatchery/starter.go
Labels: bug, hatchery

#4224 feat(cli): improve cdsctl workflow show command
  cli/cdsctl/workflow_show.go
  engine/api/workflow.go
  sdk/workflow.go
Labels: cli, feature
